<?xml version="1.0" encoding="windows-1252"?>

<!--
	Spring configuration of daos
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"
	default-autowire="byName">

	<!-- =============================================================================== 	-->
	<!-- 							Service BEANS 								-->
	<!-- =============================================================================== 	-->
<!--          
	<bean id="personSchoolService" class="gov.utah.dts.sdc.service.PersonSchoolService" />
-->
	<bean id="roadTesterService" class="gov.utah.dts.sdc.service.RoadTesterService" />
</beans>
